<div class="profile">
  <div class="profile__info">
    <div class="profile__info__image">
      <img *ngIf="user.image" src={{user.image}} />
      <img *ngIf="!user.image" src="../../../../assets/images/no-image.jpeg" />
    </div>
    <div class="profile__info__data">
      <div class="profile__info__data__name">{{user.firstName}} {{user.lastName}}</div>
    </div>
  </div>
  <div class="profile__archive">
    <app-manage-reservations></app-manage-reservations>
  </div>
</div>