@import "../../../../assets/styles/colors";

.profile {
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        &__image {
            width: 50px;
            height: 50px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        &__data {
            width: 200px;
            text-align: center;
            margin-top: 10px;
            font-size: 24px;
            color: $color-contrast;
            font-weight: bold;
        }
    }
    &__archive {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        &__title {
            font-size: 24px;
            color: $color-bold;
            letter-spacing: 2px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        &__item {
            margin-bottom: 10px;
            &__date {
                color: $color-bold;
                font-size: 20px;
                cursor: pointer;
            }
            &__extended {
                padding: 10px;
                &__salon {
                    display: flex;
                    margin-bottom: 5px;
                    &__employee {
                        margin-left: 5px;
                        font-style: italic;
                        color: $color-neutral;
                    }
                    a, a:visited {
                        color: $color-contrast;
                        transition: .2s all ease-in-out;
                        font-size: 18px;
                        font-weight: bold;
                        text-decoration: underline;
                        &:hover {
                            color: $color-neutral;
                        }
                    }
                }
                &__notes {
                    font-style: italic;
                    font-size: 14px;
                    padding: 10px;
                    padding-bottom: 0;
                    color: $color-neutral;
                }
            }
        }
    }
}