<div class="create-salon">
  <form [formGroup]="createSalonForm" (ngSubmit)="createSalon()">
    <div class="create-salon__container">
      <fa-icon [icon]="faTimes" [classes]="['create-salon__container__close']" (click)="_popups.toggleCreateSalon()"></fa-icon>
      <div class="create-salon__container__title">Create a salon</div>
      <div class="create-salon__container__input">
        <app-input [label]="'Name'" [inputType]="'text'" #name>
        </app-input>
      </div>
      <div class="create-salon__container__input">
        <app-input [label]="'Email'" [inputType]="'email'" #email>
        </app-input>
      </div>
      <div class="create-salon__container__input">
        <app-input [label]="'Phone'" [inputType]="'text'" #phone>
        </app-input>
      </div>
      <div class="create-salon__container__label">
        <label for="workHours">Work hours</label>
      </div>
      <div class="create-salon__container__timepickers" #workHours>
        <ngb-timepicker #workHoursStart formControlName="workHoursStart" [minuteStep]=15></ngb-timepicker>
        <ngb-timepicker #workHoursEnd formControlName="workHoursEnd" [minuteStep]=15></ngb-timepicker>
      </div>
      <div class="create-salon__container__address">
        <div class="create-salon__container__address__label" [ngClass]="{'shown': address.value}"><label for="address">Address</label></div>
        <input class="create-salon__container__address__input" type="text" #address ngx-google-places-autocomplete [options]="locationOptions" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
      </div>
      <div class="create-salon__container__alert" [ngClass]="{'shown': invalidAddressFlag}">
        Invalid address
      </div>
      <div class="create-salon__container__button">
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>