<div class="home" *ngIf="!_auth.user">
  <div class="home__image__salon">
    <img src="../../../../assets/images/salon-photo.jpeg">
  </div>
  <div class="home__image__hair">
    <img src="../../../../assets/images/hair-photo.jpeg">
  </div>
  <div class="home__action">
    <div class="home__action__text">
      Want to find a perfect hair salon?
    </div>
    <div class="home__action__text">
      Have a hair salon that needs managing?
    </div>
    <div class="home__action__airstyle">
      AirStyle is the right tool for you.
    </div>
    <div class="home__action__button">
      <button type="button" (click)="_popups.toggleSignup()">start</button>
    </div>
  </div>
</div>
<div class="home__logged" *ngIf="_auth.user">
  <div class="home__logged__container">
    <div class="home__logged__container__section">
      <div class="home__logged__container__section__image">
        <img src="../../../../assets/images/salon-photo.jpeg">
      </div>
      <div class="home__logged__container__section__description">
        Need to book a hair salon appointment?<br> Find a perfect salon that will suit your needs.
      </div>
      <div class="home__logged__container__section__button">
        <button type="button" (click)="router.navigate(['salons'])">Go</button>
      </div>
    </div>
    <div class="home__logged__container__section">
      <div class="home__logged__container__section__image">
        <img src="../../../../assets/images/booking-photo.jpeg">
      </div>
      <div class="home__logged__container__section__description">
        Need a booking management tool for your hair salon?<br> Look no further.
      </div>
      <div class="home__logged__container__section__button">
        <button type="button" (click)="router.navigate(['manage'])">go</button>
      </div>
    </div>
  </div>
</div>