@import "../../../../assets/styles/colors";

.home {
    height: calc(100vh - 388px);
    width: 100vw;
    max-width: 1635px;
    margin: auto;
    background: $color-neutral;
    position: relative;
    &__image__hair {
        position: absolute;
        top: 60px;
        right: 60px;
        width: 24%;
        img {
            width: 100%;
        }
    }
    &__image__salon {
        position: absolute;
        top: 35px;
        right: 280px;
        width: 45%;
        img {
            width: 100%;
            opacity: .8;
        }
    }
    &__action {
        width: 36&;
        height: 500px;
        position: absolute;
        top: 65px;
        left: 45px;
        background: $color-light-secondary;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__text {
            font-weight: bold;
            color: $color-dark-secondary;
            font-size: 28px;
            &:first-child {
                margin-left: 20px;
            }
            &:nth-child(2) {
                margin-left: 40px;
                margin-top: 20px;
            }
        }
        &__airstyle {
            text-align: center;
            height: 70px;
            padding-top: 40px;
            font-size: 20px;
            letter-spacing: 1px;
            color: $color-bold;
        }
        &__button {
            text-align: center;
            margin-top: 30px;
            button {
                background-color: $color-contrast;
                color: $color-light-secondary;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 4px;
                font-size: 17px;
                padding: 10px 35px;
                border: none;
                transition: .3s all ease-in-out;
                &:hover {
                    cursor: pointer;
                    background-color: $color-bold; 
                    padding: 10px 75px;
                }
            }
        }
    }
}

.home__logged {
    height: calc(100vh - 126px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 60%;
        width: 100vw;
        background: $color-bold;
        &__section {
            height: 100%;
            width: 40vw;
            background: $color-light-secondary;
            position: relative;
            box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.16);
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:first-child {
                bottom: 50px;
            }
            &:last-child {
                top: 50px;
            }
            &__image {
                img {
                    width: 350px;
                }
            }
            &__description {
                width: 65%;
                background-color: $color-neutral;
                color: $color-light-secondary;
                padding: 30px;
                text-align: center;
                position: relative;
                top: -40px;
                left: 33%;
            }
            &__button {
                text-align: center;
                position: relative;
                top: -10px;
                button {
                    background-color: $color-contrast;
                    color: $color-light-secondary;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 4px;
                    font-size: 17px;
                    padding: 10px 35px;
                    border: none;
                    transition: .3s all ease-in-out;
                    &:hover {
                        cursor: pointer;
                        background-color: $color-bold; 
                        padding: 10px 75px;
                    }
                }
            }
        }
    }
}