<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="login__container">
      <fa-icon [icon]="faTimes" [classes]="['login__container__close']" (click)="_popups.toggleLogin()"></fa-icon>
      <div class="login__container__title">Log in</div>
      <div class="login__container__input">
        <app-input [label]="'E-mail'" [inputType]="'email'" #email>
        </app-input>
      </div>
      <div class="login__container__input">
        <app-input [label]="'Password'" [inputType]="'password'" #password></app-input>
      </div>
      <div class="login__container__checkbox">
          <input type="checkbox" name="remember_me" value="remember_me" formControlName="remember_me" checked>Remember me<br>
      </div>
      <div class="login__container__signup">
        <button type="button" (click)="_popups.toggleLogin(); _popups.toggleSignup()">Don't have an account? Sign up.</button>
      </div>
      <div class="login__container__button">
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>