@import "../../../assets/styles/colors";


.ng-fa-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $color-dark-secondary;
    cursor: pointer;
}

.login {
    width: 100vw;
    height: 100vh;
    background: $color-dark-primary-opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    &__container {
        width: 400px;
        background: $color-light-secondary;
        padding: 20px;
        position: relative;
        &__title {
            text-align: center;
            font-size: 26px;
            color: $color-contrast;
            margin-bottom: 20px;
        }
        &__input {
            margin-bottom: 10px;
        }
        &__checkbox {
            font-size: 14px;
            margin-top: 20px;
        }
        &__signup {
            text-align: center;
            margin-top: 20px;
            button {
                background: none;
                border: none;
                font-size: 12px;
                cursor: pointer;
                color: $color-bold;
                transition: .2s all ease-in-out;
                &:hover {
                    color: $color-contrast;
                    text-decoration: underline;
                }
            }
        }
        &__button {
            text-align: center;
            margin: 10px;
            button {
                background-color: $color-contrast;
                color: $color-light-secondary;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 17px;
                padding: 10px 35px;
                border: none;
                transition: .3s all ease-in-out;
                &:hover {
                    cursor: pointer;
                    background-color: $color-bold; 
                    padding: 10px 75px;
                }
            }
        }
    }
}