@import "../../../../../../assets/styles/colors";

.reservations {
    padding: 20px;
    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 20px;
        &__dates {
            margin-left: 10px;
            margin-right: 10px;
            width: 230px;
            text-align: center;
        }
        fa-icon {
            cursor: pointer;
        }
        &__reset {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            button {
                height: 100%;
                background: $color-contrast;
                border: none;
                color: $color-light-primary;
                transition: .2s all ease-in-out;
                padding: 0 10px;
                cursor: pointer;
                &:hover {
                    background: $color-bold;
                }
            }
        }
    }
    &__table {
        display: flex;
        margin-top: 20px;
        &__intervals {
            position: relative;
            top: 30px;
            &__interval {
                width: 50px;
                height: 30px;
                border-left: 1px solid $color-dark-secondary;
                border-right: none;
                border-top: none;
                border-bottom: 1px dashed $color-neutral;
                font-size: 14px;
                color: $color-neutral;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                &:first-child {
                    border-top: 1px solid $color-dark-secondary;
                }
            }
        }
        &__table {            
            width: calc(100% - 50px);
            &__header {
                display: flex;
                &__item {
                    border: 1px solid $color-dark-secondary;
                    width: calc(100% / 7);
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                }
            }
            &__body {
                display: flex;
                &__date {
                    width: calc(100% / 7);
                    position: relative;
                    &__interval {
                        width: 100%;
                        height: 30px;
                        border: 1px solid $color-dark-secondary;
                        border-top: none;
                        border-bottom: 1px dashed $color-neutral;
                        &:first-child {
                            border-top: 1px solid $color-dark-secondary;
                        }
                    }
                    &__reservation {
                        background: $color-neutral;
                        width: 100%;
                        position: absolute;
                        fa-icon {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}