<div class="reservations">
  <div class="reservations__navigation">
    <fa-icon [icon]="faCaretLeft" (click)="previousWeek()"></fa-icon>
    <div class="reservations__navigation__dates">{{startDate.format("YYYY/MM/DD")}} - {{endDate.format("YYYY/MM/DD")}}
    </div>
    <fa-icon [icon]="faCaretRight" (click)="nextWeek()"></fa-icon>
    <div class="reservations__navigation__reset">
      <button type="button" (click)="thisWeek()">Reset</button>
    </div>
  </div>
  <div class="reservations__table">
    <div class="reservations__table__intervals">
      <div class="reservations__table__intervals__interval" *ngFor="let interval of timeIntervals">
        {{interval.hours}}:{{interval.minutes}}</div>
    </div>
    <div class="reservations__table__table">
      <div class="reservations__table__table__header">
        <div class="reservations__table__table__header__item" *ngFor="let date of dates">
          {{date.date.format("YYYY/MM/DD")}}
        </div>
      </div>
      <div class="reservations__table__table__body">
        <div class="reservations__table__table__body__date" *ngFor="let date of dates">
          <div class="reservations__table__table__body__date__interval" *ngFor="let interval of timeIntervals"></div>
          <div class="reservations__table__table__body__date__reservation" *ngFor="let reservation of date.reservations"
            [ngStyle]="{'top': reservation.top + 'px', 'height': reservation.height + 'px'}">
            <fa-icon *ngIf="reservation.isInFuture" [icon]="faTrash"
              (click)="deleteReservation($event, reservation.id)"></fa-icon>
            <div>{{reservation.startHours}} - {{reservation.endHours}}</div>
            <div style="margin-bottom: 3px">{{reservation.user[0].firstName}} {{reservation.user[0].lastName}}</div>
            <div *ngFor="let service of reservation.services">{{service.name}}</div>
            <div style="font-style: italic; margin-top: 3px">{{reservation.notes}}</div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>