<div class="create-review">
  <form [formGroup]="createReviewForm" (ngSubmit)="createReview()">
    <div class="create-review__container">
      <fa-icon [icon]="faTimes" [classes]="['create-review__container__close']" (click)="_popups.toggleCreateReview()"></fa-icon>
      <div class="create-review__container__title">Write a review</div>
      <div class="create-review__container__input">
        <app-input [label]="'Title'" [inputType]="'text'" #title>
        </app-input>
      </div>
      <div class="create-review__container__label" [ngClass]="{'shown': createReviewForm.value.description}">
        <label for="description">Description</label>
      </div>
      <div class="create-review__container__input">
        <textarea placeholder="Description" rows="5" fromControlName="description" #description></textarea>
      </div>
      <div class="create-review__container__button">
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>