<div class="dropdown-menu">
  <div class="label" [ngClass]="{'shown': selected}" >{{ label }}</div>
  <div class="input-container">
    <div>
      <input type="text" [ngClass]="{open: dropdownOpen}" (click)="toggleDropdown()" (keyup.arrowdown)="moveDown()" (keyup.arrowup)="moveUp()"
        (keyup.enter)="toggleDropdown()" placeholder={{label}} [(ngModel)]=field?selected[field]:selected readonly [disabled]=disabled>
    </div>
  </div>
  <div class="items" [ngClass]="{open: dropdownOpen}">
    <div class="item" *ngFor="let item of data;" [ngClass]="{selected: item == selected}" (click)="onChange(item)">
      <div *ngIf="field">{{ item[field] }}</div>
      <div *ngIf="!field">{{ item }}</div>
    </div>
  </div>
</div>
