@import "../../../assets/styles/colors";

.dropdown-menu {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    position: relative;
    .input-container {
        position: relative;
        input {
            border: 1px solid $color-bold;
            background-color: none;
            color: $color-bold;
            box-sizing: border-box;
            width: 100%;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-size: 16px;
            &:hover {
                cursor: pointer;
            }
            &.open {
                border-color:$color-contrast;
            }
            &:disabled {
                cursor: not-allowed;
            }
        }
    }
    .items {
        position: absolute;
        box-sizing: border-box;
        background-color: none;
        border: 1px $color-bold;
        display: none;
        width: 100%;
        z-index: 1000;
        max-height: 250px;
        overflow-y: scroll;
        transition: .3s border-color ease-in-out;
        &.open {
            display: block;
        }
        .item {
            box-sizing: border-box;
            height: 35px;
            display: flex;
            align-items: center;
            background-color: $color-light-primary;
            color: $color-bold;
            border-bottom: 1px solid $color-bold;
            padding: 17px 10px;
            transition: .2s all ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: $color-neutral;
            }
            &:last-child {
                border-bottom: none;
            }
            &.selected {
                background-color: $color-neutral;
            }
        }
    }
    .label {
        font-size: 11px;
        position: absolute;
        top: -13px;
        opacity: 0;
        color: $color-dark-secondary;
        transition: .3s all ease-in-out;
        &.shown {
            opacity: 1;
        }
    }
}
