<div class="create-employee">
  <div class="create-employee__container">
    <fa-icon [icon]="faTimes" [classes]="['create-employee__container__close']" (click)="_popups.toggleCreateEmployee()" ></fa-icon>
    <div class="create-employee__container__title">Create an employee</div>
    <div class="create-employee__container__input">
      <app-input
        [label]="'First name'"
        [inputType]="'text'"
        #firstName
      ></app-input>
    </div>
    <div class="create-employee__container__input">
      <app-input
        [label]="'Last name'"
        [inputType]="'text'"
        #lastName
      ></app-input>
    </div>
    <div class="create-employee__container__button">
      <button type="submit" (click)="createEmployee()">Submit</button>
    </div>
  </div>
</div>