<div class="header" [ngClass]="{'logged-in': _auth.user}">
  <div class="header__title" [ngClass]="{'logged-in': _auth.user}">
    AirStyle
  </div>
  <div class="header__description">
    Hair Salon Booking & Management App
  </div>
</div>
<app-navigation></app-navigation>