@import "../../../../assets/styles/colors";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    flex-direction: column;
    &__title {
        font-size: 120px;
        font-family: 'Sacramento', cursive;
        color: $color-bold;
        &.logged-in {
            font-size: 40px;
        }
    }
    &__description {
        margin-top: 10px;
        color: $color-contrast;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    &.logged-in {
        flex-direction: row;
        justify-content: space-evenly;
        height: 60px;
    }
}