@import ".../../../../../../../assets/styles/colors";

.manage-sys {
    width: 100vw;
    height: calc(100vh - 126px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__description {        
        color: $color-dark-secondary;
        font-size: 24px;
        margin-bottom: 35px;
    }
    &-button {
        padding: 10px 40px;
        button {
            background-color: $color-contrast;
            color: $color-light-secondary;
            letter-spacing: 2px;
            font-weight: bold;
            font-size: 14px;
            padding: 10px 35px;
            border: none;
            transition: .3s all ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: $color-bold; 
                padding: 10px 75px;
            }
        }
    }
}