<div class="manage-sys" *ngIf="!selectedSalon">
    <div class="manage-sys__description">Which salon would you like to manage?</div>
    <app-dropdown [label]="'Select a salon...'" [data]=salons [field]="'name'" (selectedChange)="selectedSalon=$event.id"></app-dropdown>
</div>
<div *ngIf="selectedSalon">
    <div class="manage-sys-button">
        <button type=button (click)="selectedSalon=null">
            <fa-icon [icon]="faArrowLeft" [classes]="['manage-sys-button__icon']"></fa-icon>
            Go back
        </button>
    </div>
    <app-manage-role-salon-admin [salonId]="selectedSalon"></app-manage-role-salon-admin>
</div>