<div class="signup">
  <div class="signup__container">
    <fa-icon [icon]="faTimes" [classes]="['signup__container__close']" (click)="_popups.toggleSignup()" ></fa-icon>
    <div class="signup__container__title">Sign up</div>
    <div class="signup__container__input">
      <app-input
        [label]="'E-mail'"
        [inputType]="'email'"
        #email
      ></app-input>
    </div>
    <div class="signup__container__input">
      <app-input
        [label]="'First name'"
        [inputType]="'text'"
        #firstName
      ></app-input>
    </div>
    <div class="signup__container__input">
      <app-input
        [label]="'Last name'"
        [inputType]="'text'"
        #lastName
      ></app-input>
    </div>
    <div class="signup__container__input">
      <app-input
        [label]="'Password'"
        [inputType]="'password'"
        #password
      ></app-input>
    </div>
    <div class="signup__container__input">
      <app-input
        [label]="'Confirm password'"
        [inputType]="'password'"
        #confirmPassword
      ></app-input>
    </div>
    <div class="signup__container__alert" [ngClass]="{'shown': passwordFlag}">
      Passwords do not match!
    </div>
    <div class="signup__container__login">
      <button type="button" (click)="_popups.toggleLogin(); _popups.toggleSignup()">Already have an account? Log in instead.</button>
    </div>
    <div class="signup__container__button">
      <button type="submit" (click)="signup()">Submit</button>
    </div>
  </div>
</div>