<div class="input">
  <div class="input__label" [ngClass]="{'shown': customInput.value}" ><label for="customInput">{{label}}</label></div>
  <input #customInput [(ngModel)]="input" type={{inputType}} class="input__input" placeholder={{label}}/>
</div>