@import "../../../assets/styles/colors";

.input {
    &__label {
        opacity: 0;
        font-size: 12px;
        margin-bottom: 2px;
        color: $color-dark-secondary;
        transition: .2s all ease-in-out;
        &.shown {
            opacity: 1;
        }
    }
    &__input {
        width: 100%;
        height: 30px;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid $color-bold;
        background: none;
        color: $color-bold;
        transition: .3s all ease-in-out;
        &:focus {
            border-bottom: 1px solid $color-contrast;
        }
    }
}