<div class="create-service">
  <div class="create-service__container">
    <fa-icon [icon]="faTimes" [classes]="['create-service__container__close']" (click)="_popups.toggleCreateService()" ></fa-icon>
    <div class="create-service__container__title">Create a service</div>
    <div class="create-service__container__input">
      <app-input
        [label]="'Name'"
        [inputType]="'text'"
        #name
      ></app-input>
    </div>
    <div class="create-service__container__input">
      <app-input
        [label]="'Price'"
        [inputType]="'number'"
        #price
      ></app-input>
    </div>
    <div class="create-service__container__input">
      <app-input
        [label]="'Estimated duration (minutes)'"
        [inputType]="'number'"
        #duration
      ></app-input>
    </div>
    <div class="create-service__container__button">
      <button type="submit" (click)="createService()">Submit</button>
    </div>
  </div>
</div>