@import "../../../../assets/styles/colors";

.salons {
    padding: 40px;
    &__title {
        font-size: 28px;
        color: $color-contrast;
        letter-spacing: 2px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    &__sorting {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        &__label {
            color: $color-dark-secondary;
            margin-right: 10px;
        }
        &__buttons {
            display: flex;
            align-items: center;
            button {
                background: none;
                color: $color-bold;
                margin-right: 10px;
                border: none;
                transition: .3s all ease-in-out;
                font-size: 16px;
                &.chosen {
                    font-weight: bold;
                    color: $color-neutral;
                }
                &:hover {
                    cursor: pointer;
                    color: $color-contrast;
                }
            }
        }
    }
    &__salon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        transition: .3s all ease-in-out;
        &__image {
            width: 300px;
            margin-right: 20px;
            transition: .3s all ease-in-out;
            img {
                width: 100%;
            }
        }
        &__info {
            width: 400px;
            max-width: 400px;
            &__name {
                font-size: 18px;
                color: $color-bold;
                font-weight: bold;
                letter-spacing: 2px;
                transition: .3s all ease-in-out;
            }
            &__address, &__name {
                margin-bottom: 5px;
            }
        }
        &:hover {
            cursor: pointer;
            .salons__salon__image {
                opacity: .7;
            }
            .salons__salon__info__name {
                color: $color-contrast;
            }
        }
    }
}

fa-icon {
    margin-right: 2px;
    color: gold;
}