<div class="salons">
  <div class="salons__title">Hair salons</div>
  <div class="salons__sorting">
    <div class="salons__sorting__label">Sort by:</div>
    <div class="salons__sorting__buttons">
      <button [ngClass]="{'chosen': sorting==='name'}" (click)="sortSalonsBy('name')">Name</button>
      <button [ngClass]="{'chosen': sorting==='distance'}" (click)="sortSalonsBy('distance')">Distance</button>
      <button [ngClass]="{'chosen': sorting==='rating'}" (click)="sortSalonsBy('rating', true)">Rating</button>
    </div>
  </div>
  <div class="salons__salon" *ngFor="let salon of salons" (click)="this.router.navigate(['/salon', salon.id]);">
    <div class="salons__salon__image">
      <img *ngIf="salon.image" src={{salon.image}} />
      <img *ngIf="!salon.image" src="../../../../assets/images/no-image.jpeg" />
    </div>
    <div class="salons__salon__info">
      <div class="salons__salon__info__name">{{salon.name}}</div>
      <div class="salons__salon__info__address">{{salon.address}}, {{salon.city}}, {{salon.country}}</div>
      <div class="salons__salon__info__rating">
        <fa-icon [icon]="faStar" [classes]="['salons__salon__info__rating__star']"></fa-icon>{{salon.rating}}
      </div>
    </div>
  </div>
</div>