<div class="no-salon">
  <div class="no-salon__description">It seems that you don't manage a salon yet. Do you want to create one?</div>
  <div class="no-salon__button"><button type="button" (click)="_popups.toggleCreateSalon()">Create a hair salon</button></div>
</div>