@import ".../../../../../../../assets/styles/colors";

.no-salon {
    width: 100vw;
    height: calc(100vh - 126px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__description {
        color: $color-dark-secondary;
        font-size: 24px;
        margin-bottom: 20px;
    }
    &__button {
        text-align: center;
        button {
            background-color: $color-contrast;
            color: $color-light-secondary;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 4px;
            font-size: 17px;
            padding: 10px 35px;
            border: none;
            transition: .3s all ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: $color-bold; 
                padding: 10px 75px;
            }
        }
    }
}