<div class="manage-navigation">
  <div class="manage-navigation__tab" (click)="tabOpen=1">Update info</div>
  <div class="manage-navigation__tab" (click)="tabOpen=2">Manage reservations</div>
</div>
<div class="manage-info" *ngIf="tabOpen===1">
  <div class="manage-info__lists">
    <div class="manage-info__lists__list">
      <div class="manage-info__lists__list__title">Employees</div>
      <div *ngFor="let employee of salon.employees" class="manage-info__lists__list__item">{{employee.firstName}}
        {{employee.lastName}}</div>
    </div>
    <div class="manage-info__lists__list">
      <div class="manage-info__lists__list__title">Services (price, duration)</div>
      <div *ngFor="let service of salon.services" class="manage-info__lists__list__item">{{service.name}}
        ({{service.price}} HRK, {{service.duration}} min)</div>
    </div>
  </div>
  <div class="manage-info__buttons">
    <button type="button" (click)="_popups.toggleCreateService()">Add a service</button>
    <button type="button" (click)="_popups.toggleCreateEmployee()">Add an employee</button>
  </div>
  <div class="manage-info__info">
    <form [formGroup]="updateSalonForm" (ngSubmit)="updateSalon()">
      <div class="manage-info__info__inputs">
        <div style="margin-right: 20px">
          <app-input [label]="'Name'" [inputType]="'text'" #name input=salon.name>
          </app-input>
        </div>
        <div>
          <app-input [label]="'Phone'" [inputType]="'text'" #phone>
          </app-input>
        </div>
      </div>
      <div class="manage-info__info__inputs">
        <div style="margin-right: 20px">
          <app-input [label]="'Email'" [inputType]="'email'" #email>
          </app-input>
        </div>
        <div class="manage-info__info__inputs__address">
          <div class="manage-info__info__address__label" [ngClass]="{'shown': address.value}"><label
              for="address">Address</label></div>
          <input class="manage-info__info__address__input" type="text" #address ngx-google-places-autocomplete
            [options]="locationOptions" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
        </div>
      </div>
      <div class="manage-info__info__label">
        <label for="workHours">Work hours</label>
      </div>
      <div class="manage-info__info__timepickers" #workHours>
        <ngb-timepicker #workHoursStart formControlName="workHoursStart" [minuteStep]=15></ngb-timepicker>
        <div>-</div>
        <ngb-timepicker #workHoursEnd formControlName="workHoursEnd" [minuteStep]=15></ngb-timepicker>
      </div>
      <div class="manage-info__info__alert" [ngClass]="{'shown': invalidAddressFlag}">
        Invalid address
      </div>
      <div class="manage-info__info__button">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="manage-reservations" *ngIf="tabOpen===2">
  <app-manage-reservations [salonId]=salonId></app-manage-reservations>
</div>