@import "../../../../../assets/styles/colors";

.manage-navigation {
    display: flex;
    padding: 20px 40px;
    border-bottom: 1px solid $color-light-secondary;
    &__tab {
        margin-right: 50px;
        cursor: pointer;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $color-bold;
        font-weight: bold;
        transition: .3s all ease-in-out;
        &:hover {
            color: $color-contrast;
        }
    }
}

.manage-info {
    padding: 20px 40px;
    text-align: center;
    &__buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        button {
            background-color: $color-contrast;
            color: $color-light-secondary;
            letter-spacing: 2px;
            font-weight: bold;
            padding: 10px 35px;
            border: none;
            transition: .3s all ease-in-out;
            min-width: 300px;
            &:hover {
                cursor: pointer;
                background-color: $color-bold; 
                padding: 10px 75px;
            }
        }
    }
    &__info {
        &__inputs {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
        &__address {
            &__label {
                opacity: 0;
                font-size: 12px;
                margin-bottom: 2px;
                color: $color-dark-secondary;
                transition: .2s all ease-in-out;
                &.shown {
                    opacity: 1;
                }
            }
            &__input {
                width: 100%;
                height: 30px;
                font-size: 20px;
                border: none;
                border-bottom: 1px solid $color-bold;
                background: none;
                color: $color-bold;
                transition: .3s all ease-in-out;
                &:focus {
                    border-bottom: 1px solid $color-contrast;
                }
            }
        }
        &__label {
            font-size: 12px; 
            margin-top: 40px;
            margin-bottom: 2px;
            color: $color-dark-secondary;
            transition: .2s all ease-in-out;
        }
        &__timepickers {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
        &__alert {
            margin-top: 40px;
            opacity: 0;
            font-size: 14px;
            color: $color-contrast;
            transition: .2s all ease-in-out;
            &.shown {
                opacity: 1;
            }
        }
        &__button {
            text-align: center;
            margin: 10px;
            button {
                background-color: $color-contrast;
                color: $color-light-secondary;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 17px;
                padding: 10px 35px;
                border: none;
                transition: .3s all ease-in-out;
                &:hover {
                    cursor: pointer;
                    background-color: $color-bold; 
                    padding: 10px 75px;
                }
            }
        }
    }
    &__lists {
        display: flex;
        margin-top: 30px;
        justify-content: space-evenly;
        &__list {
            width: 300px;
            text-align: center;
            &__title {
                font-weight: bold;
                font-size: 18px;
                color: $color-bold;
                margin-bottom: 10px;
            }
            &__item {
                margin-bottom: 5px;
                color: $color-dark-secondary;
            }
        }
    }
}