@import "./assets/styles/colors";

fieldset {
    border: none;
    display: inline-block;
    button, input {
        background: none;
        border: none;
    }
    button {
        cursor: pointer;
        color: $color-bold;
        margin: 5px;
        &:hover {
            color: $color-contrast;
        }
    }
    .sr-only {
        display: none;
    }
}

