$color-neutral: #CAB69B;
$color-light-primary: #fff;
$color-light-secondary: #F6F5F1;
$color-dark-primary: #000;
$color-dark-secondary: #624933;
$color-contrast: #DB3A3F;
$color-bold: #92683E;
$color-dark-primary-opacity: rgba(0,0,0,.6);