<app-manage-role-user *ngIf="!_auth.user.salonId"></app-manage-role-user>
<app-manage-role-salon-admin *ngIf="_auth.user.role === 'salon_admin'" [salonId]=_auth.user.salonId></app-manage-role-salon-admin>
<app-manage-role-sys-admin *ngIf="_auth.user.role === 'sys_admin'"></app-manage-role-sys-admin>