<div class="navigation">
    <button (click)="router.navigate([''])">Home</button>
    <button (click)="router.navigate(['salons'])">Salons</button>
    <button *ngIf="_auth.user" (click)="router.navigate(['manage'])">Manage Salon</button>
    <button *ngIf="_auth.user" (click)="router.navigate(['profile'])">Profile</button>
    <button *ngIf="_auth.user" (click)="logout()">Logout</button>
    <button *ngIf="!_auth.user" (click)="_popups.toggleLogin()">Login</button>
    <button *ngIf="!_auth.user" (click)="_popups.toggleSignup()">Sign up</button>
</div>