@import "../../../../../assets/styles/colors";

.navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    border-top: 1px solid $color-light-secondary;
    border-bottom: 1px solid $color-light-secondary;
    width: 80%;
    margin: auto;
    button {
        background: none;
        border: none;
        margin-right: 20px;
        color: $color-dark-primary;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: .2s color ease-in-out;
        &:hover {
            color: $color-bold;
            font-weight: bold;
            cursor: pointer;
        }
    }
}