<app-signup *ngIf="_popups.signup" ></app-signup>
<app-login *ngIf="_popups.login" ></app-login>
<app-create-salon *ngIf="_popups.createSalon"></app-create-salon>
<app-create-service *ngIf="_popups.createService"></app-create-service>
<app-create-employee *ngIf="_popups.createEmployee"></app-create-employee>
<app-create-review *ngIf="_popups.createReview"></app-create-review>
<app-create-reservation *ngIf="_popups.createReservation"></app-create-reservation>