@import "../../../../assets/styles/colors";

.salon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 70%;
    margin: auto;
    &__info {
        &__name {
            font-size: 28px;
            color: $color-contrast;
            letter-spacing: 2px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        &__contact {
            margin-bottom: 5px;
        }
        button {
            background-color: $color-contrast;
            color: $color-light-secondary;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 4px;
            font-size: 17px;
            padding: 10px 35px;
            border: none;
            transition: .3s all ease-in-out;
            margin-top: 20px;
            &:hover {
                cursor: pointer;
                background-color: $color-bold;
            }
        }
    }
    &__image {
        width: 400px;
        margin-right: 20px;
        transition: .3s all ease-in-out;
        img {
            width: 100%;
        }
    }
}

.reviews {
    width: 70%;
    margin: auto;
    padding: 20px 40px;
    &__title {
        font-size: 24px;
        color: $color-bold;
        letter-spacing: 2px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__sorting {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
        &__label {
            color: $color-dark-secondary;
            margin-right: 10px;
        }
        &__buttons {
            display: flex;
            align-items: center;
            button {
                background: none;
                color: $color-bold;
                margin-right: 10px;
                border: none;
                transition: .3s all ease-in-out;
                font-size: 16px;
                &.chosen {
                    font-weight: bold;
                    color: $color-neutral;
                }
                &:hover {
                    cursor: pointer;
                    color: $color-contrast;
                }
            }
        }
    }
}

.rate {
    width: 70%;
    margin: auto;
    padding: 20px 40px;
    &__title {
        font-size: 24px;
        color: $color-bold;
        letter-spacing: 2px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__stars {
        color: $color-dark-secondary;
        font-size: 40px;
        fa-icon {
            cursor: pointer;
        }
        &.one {
            fa-icon:first-child {
                color: gold;
            }
        }
        &.two {
            fa-icon:first-child, fa-icon:nth-child(2) {
                color: gold;
            }                
        }
        &.three {
            fa-icon {
                color: gold;
                &:nth-child(4), &:last-child {
                    color: $color-bold;
                }  
            } 
          
        }
        &.four {
            fa-icon {
                color: gold; 
                &:last-child {
                    color: $color-bold;
                }
            }                
        }
        &.five {
            fa-icon {
                color: gold;
            }                
        }
    }
}

.review {
    margin-bottom: 40px;
    &__user {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        &__image {
            width: 50px;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
    }
    &__main {
        display: flex;
        align-items: center;
        &__title {
            font-size: 18px;
            color: $color-dark-secondary;
            letter-spacing: 2px;
            font-weight: bold;
            margin-right: 10px;
        }
        &__stars {
            &.one {
                fa-icon:first-child {
                    color: gold;
                }
            }
            &.two {
                fa-icon:first-child, fa-icon:nth-child(2) {
                    color: gold;
                }                
            }
            &.three {
                fa-icon {
                    color: gold;
                    &:nth-child(4), &:last-child {
                        color: $color-bold;
                    }  
                } 
              
            }
            &.four {
                fa-icon {
                    color: gold; 
                    &:last-child {
                        color: $color-bold;
                    }
                }                
            }
            &.five {
                fa-icon {
                    color: gold;
                }                
            }
        }
    }
    &__date {
        color: $color-neutral;
        font-style: italic;
        font-size: 14px;
        margin-bottom: 15px;
    }
    &__description {
        color: $color-dark-secondary;
    }
}


fa-icon {
    margin-right: 6px;
    color: $color-bold;
}


.salon__info__rating {
    fa-icon {
        color: gold;
    }
}