<div class="salon" *ngIf="salon">
  <div class="salon__image">
    <img *ngIf="salon.image" src={{salon.image}} />
    <img *ngIf="!salon.image" src="../../../../assets/images/no-image.jpeg" />
  </div>
  <div class="salon__info">
    <div class="salon__info__name">{{salon.name}}</div>
    <div class="salon__info__contact">
      <fa-icon [icon]="faMapMarkerAlt" [classes]="['salon__info__contact']"></fa-icon>{{salon.address}},
      {{salon.city}}, {{salon.country}}
    </div>
    <div class="salon__info__contact">
      <fa-icon [icon]="faPhone" [classes]="['salon__info__contact']"></fa-icon>{{salon.phone}}
    </div>
    <div class="salon__info__contact">
      <fa-icon [icon]="faEnvelope" [classes]="['salon__info__contact']"></fa-icon>{{salon.email}}
    </div>
    <div class="salon__info__rating">
      <fa-icon [icon]="faStar" [classes]="['salon__info__rating']"></fa-icon>{{salon.rating}}
    </div>
    <button type="button" (click)="bookAppointment()">Book an appointment</button>
  </div>
</div>
<div class="rate">
  <div class="rate__title">Rate</div>
  <div class="rate__stars" [ngClass]="{'one': _popups.selectedRating === 1, 'two': _popups.selectedRating === 2, 'three': _popups.selectedRating === 3, 'four': _popups.selectedRating === 4, 'five': _popups.selectedRating === 5}">
    <fa-icon [icon]="faStar" [classes]="['rate__stars__star']" (click)="rateSalon(1)"></fa-icon>
    <fa-icon [icon]="faStar" [classes]="['rate__stars__star']" (click)="rateSalon(2)"></fa-icon>
    <fa-icon [icon]="faStar" [classes]="['rate__stars__star']" (click)="rateSalon(3)"></fa-icon>
    <fa-icon [icon]="faStar" [classes]="['rate__stars__star']" (click)="rateSalon(4)"></fa-icon>
    <fa-icon [icon]="faStar" [classes]="['rate__stars__star']" (click)="rateSalon(5)"></fa-icon>
  </div>
</div>
<div class="reviews" *ngIf="salon && reviews">
  <div class="reviews__title">Reviews</div>
  <div class="reviews__sorting">
    <div class="reviews__sorting__label">Sort by:</div>
    <div class="reviews__sorting__buttons">
      <button [ngClass]="{'chosen': sorting==='updated_at'}" (click)="sortReviewsBy('updated_at', true)">Name</button>
      <button [ngClass]="{'chosen': sorting==='rating'}" (click)="sortReviewsBy('rating', true)">Rating</button>
    </div>
  </div>
  <div *ngFor="let review of reviews" class="review">
    <div class="review__user">
      <div class="review__user__image">
        <img *ngIf="review.user.image" src={{review.user.image}} />
        <img *ngIf="!review.user.image" src="../../../../assets/images/no-image.jpeg" />
      </div>
      <div class="review__user__name">{{review.user.firstName}} {{review.user.lastName}}</div>
    </div>
    <div class="review__main">
      <div class="review__main__title">{{review.title}}</div>
      <div class="review__main__stars" [ngClass]="{'one': review.rating === 1, 'two': review.rating === 2, 'three': review.rating === 3, 'four': review.rating === 4, 'five': review.rating === 5}">
        <fa-icon [icon]="faStar" [classes]="['review__main__title__star']"></fa-icon>
        <fa-icon [icon]="faStar" [classes]="['review__main__title__star']"></fa-icon>
        <fa-icon [icon]="faStar" [classes]="['review__main__title__star']"></fa-icon>
        <fa-icon [icon]="faStar" [classes]="['review__main__title__star']"></fa-icon>
        <fa-icon [icon]="faStar" [classes]="['review__main__title__star']"></fa-icon>
      </div>
    </div>
    <div class="review__date">{{review.created_at}}</div>
    <div class="review__description">{{review.description}}</div>
  </div>
</div>
<div *ngIf="!salon">Loading...</div>