@import "../../../assets/styles/colors";


.ng-fa-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $color-dark-secondary;
    cursor: pointer;
}

.create-reservation {
    width: 100vw;
    height: 100vh;
    background: $color-dark-primary-opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    &__container {
        width: 500px;
        background: $color-light-secondary;
        padding: 20px;
        position: relative;
        &__title {
            text-align: center;
            font-size: 26px;
            color: $color-contrast;
            margin-bottom: 20px;
        }
        &__datepicker {
            display: flex;
            justify-content: center;
        }
        &__input {
            margin-bottom: 10px;
            margin-top: 20px;
            textarea {
                width: 100%;
                font-size: 20px;
                border: 1px solid $color-bold;
                background: none;
                color: $color-bold;
                transition: .3s all ease-in-out;
                &:focus {
                    border: 1px solid $color-contrast;
                }
            }
        }
        &__multiselect {
            margin-top: 20px;
            /deep/ .multiselect-item-checkbox div:before{
                border: 2px solid $color-contrast !important;
            }
            /deep/ .multiselect-item-checkbox:checked div:before{
                background: $color-contrast !important;
            }
            /deep/ .selected-item {
                background: $color-contrast !important;
                border: 1px solid $color-contrast !important;
            }
            /deep/ .dropdown-list {
                margin-top: 0;
            }
            /deep/ .dropdown-btn {
                border-radius: 0 !important;
            }
            &.disabled {
                /deep/ .dropdown-list {
                    display: none;
                }
                /deep/ .multiselect-dropdown {
                    cursor: not-allowed;
                    .dropdown-btn {
                        cursor: not-allowed;
                        background: #EBEBE4 !important;
                        span:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
        &__info {
            opacity: 0;
            transition: .3s all ease-in-out;
            font-size: 12px;
            color: $color-neutral;
            &.shown {
                opacity: 1;
            }
        }
        &__label {
            opacity: 0;
            font-size: 12px;
            margin-bottom: 2px;
            color: $color-dark-secondary;
            transition: .2s all ease-in-out;
            &.shown {
                opacity: 1;
            }
        }
        &__dropdown {
            margin-top: 20px;
        }
        &__button {
            text-align: center;
            margin: 10px;
            button {
                background-color: $color-contrast;
                color: $color-light-secondary;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 17px;
                padding: 10px 35px;
                border: none;
                transition: .3s all ease-in-out;
                &:hover {
                    cursor: pointer;
                    background-color: $color-bold; 
                    padding: 10px 75px;
                }
                &:disabled {
                    cursor: not-allowed;
                    background: $color-neutral;
                    &:hover {
                        padding: 10px 35px;
                    }
                }
            }
        }
    }
}