<div class="create-reservation">
  <form [formGroup]="createReservationForm" (ngSubmit)="createReservation()">
    <div class="create-reservation__container">
      <fa-icon [icon]="faTimes" [classes]="['create-reservation__container__close']" (click)="_popups.toggleCreateReservation()"></fa-icon>
      <div class="create-reservation__container__title">Make an appointment</div>
      <div class="create-reservation__container__datepicker">
        <ngb-datepicker [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedDate"></ngb-datepicker>
      </div>
      <div class="create-reservation__container__multiselect" [ngClass]="{'disabled': !selectedDate}">
        <ng-multiselect-dropdown *ngIf="salon" [placeholder]="'Choose desired services...'" [data]="salon.services"
          (onSelect)="onServiceSelect($event, false)" (onDeSelect)="onServiceSelect($event, true)" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="selectedServices" [settings]="multiConfig" [disabled]="!selectedDate"></ng-multiselect-dropdown>
      </div>
      <div class="create-reservation__container__info" [ngClass]="{'shown': selectedServices.length>0}">Average
        duration: {{totalDuration}} minute(s)</div>
      <div class="create-reservation__container__info" [ngClass]="{'shown': selectedServices.length>0}" b>Price:
        {{totalPrice}} HRK</div>
      <div class="create-reservation__container__dropdown">
        <app-dropdown [label]="'Pick time...'" [data]=freeTerms [field]="'display'" (selectedChange)="selectTime($event)"
          [disabled]="!(selectedServices.length>0 && selectedDate)"></app-dropdown>
      </div>
      <div class="create-reservation__container__dropdown">
        <app-dropdown [label]="'Preferred Employee'" *ngIf="salon" [data]=salon.employees [field]="'lastName'"
          (selectedChange)="selectEmployee($event)" [disabled]="!(selectedServices.length>0 && selectedDate)"></app-dropdown>
      </div>
      <div class="create-reservation__container__input">
        <textarea placeholder="Notes (optional)" rows="5" formControlName="notes" #notes></textarea>
      </div>
      <div class="create-reservation__container__button">
        <button type="submit" [disabled]="!(selectedServices.length>0 && selectedDate && createReservationForm.value.startTime && createReservationForm.value.endTime)">Submit</button>
      </div>
    </div>
  </form>
</div>